* {
    font-family: Arial, Helvetica, sans-serif
}

button {
    border-radius: 20px;
    margin: 10px;
    padding: 10px 30px;
    border: none;
}

button:hover {
    filter: brightness(110%);
    cursor: pointer;
}


button:disabled,
button[disabled] {
    filter: saturate(10%)
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}

input {
    border-width: 0 0 1px;
}

input:focus {
    outline: none;
}

textarea {
    resize: none;
    width: 60vw;
    height: 60vh;
    margin: 0.5vh;
    border-radius: 0px;
    padding: 5px;
    justify-self: center;
}

textarea:focus {
    outline: none;
}

.emerald {
    background-color: #06D6A0;
    color: white;
}

.celestial {
    background-color: #058ED9;
    color: white;
}

.bittersweet {
    background-color: #FE615C;
    color: white;
}

.orange {
    background-color: #FFA729;
    color: black;
}

.rebecca {
    background-color: #6E2594;
    color: white;
}

a {
    position: fixed;
    left: 20px;
    bottom: 20px;
    font-size: 12px;
    color: black;
}

@media screen and (max-width: 720px) {
    button {
        border-radius: 12px;
        margin: 5px;
        padding: 10px;
        border: none;
    }
}

@media screen and (max-width: 463px) {
    button {
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
        border: none;
        font-size: small;
    }

    div {
        width: 100%;
    }

    h1 {
        font-size: medium;
    }

    textarea {
        width: 90%
    }
}

@media screen and (max-width: 960px) {

    [id*="students_"],
    [id*="status_icon"],
    h3 {
        display: none;
    }

    [id*="div_"] {
        width: 104px;
        display: grid;
        grid-template-rows: 1fr 1fr 20px !important;
        grid-template-columns: 104px !important;
        margin: 10px 0 !important;
        justify-self: center;
    }

    img {
        margin: 10px !important;
        padding: 0;
    }

}